/**
 * WorldSidebar Container Styles
 */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  background-color: var(--color-background);
  border-right: 1px solid var(--color-border);
  overflow: hidden;
}
