name: Continuous Integration

on:
  push:
    paths:
      - infra/**
      - libris-maleficarum-app/**
      - libris-maleficarum-service/**
  pull_request:
    branches:
      - main
    paths:
      - infra/**
      - libris-maleficarum-app/**
      - libris-maleficarum-service/**
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  lint-markdown:
    name: Lint Markdown
    uses: ./.github/workflows/lint-markdown.yml

  lint-and-publish-bicep:
    name: Lint and Publish Bicep
    uses: ./.github/workflows/lint-and-publish-bicep.yml

  build-and-publish-frontend-app:
    name: Build and Publish Frontend App
    uses: ./.github/workflows/build-and-publish-frontend-app.yml

  build-and-publish-backend-service:
    name: Build and Publish Backend Service
    uses: ./.github/workflows/build-and-publish-backend-service.yml
